@import url('https://fonts.googleapis.com/css2?family=Liter&display=swap');

/* Import tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html{
  margin: 0;
  padding: 0;
  height: 100%;
}

*{
  font-family: 'Liter', sans-serif;
}

#app{
  min-height: 100%;
}
